[Unit]
Description=Shadowsocks-libev Server Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
LimitNOFILE=32768
ExecStart=/usr/bin/ss-server -c obfs-tls.json
WorkingDirectory=/etc/shadowsocks-libev

[Install]
WantedBy=multi-user.target

